<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="CSS/stylesheet.css">
</head>
<body>
    <div class="top_banner" th:fragment="header">
        <div class="site_title">
            CHEM 1100
        </div>
        <div class="logo_container">
            <img src="site_photos/RF0010-01_Rensselaer_Large_Logo-with_Tagline_RGB-Red.png" alt="RPI Logo">
        </div>
    </div>
</body>
</html>