<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/dashboard_layout :: layout (~{::title}, ~{}, ~{}, ~{::section})}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/stylesheet.css" th:remove="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:remove="all">
    <title>Search</title>
</head>
<body>
<section>
    <div class="title">
        Account Setting
    </div>
    <div id="account_setting_edit_area">
        <form name="account_setting_form" action="/account_change"
              method="post" id="account_setting_form"
              onsubmit="return validateForm();"
              enctype="multipart/form-data">
            <div class="account_setting_input_area">
                First name:
                <input type="text" id="fname" name="fname" oninput="submit_enable()" required>
            </div>
            <div class="account_setting_input_area">
                Last name:
                <input type="text" id="lname" name="lname" oninput="submit_enable()" required>
            </div>
            <div class="account_setting_input_area">
                Email:
                <input type="text" id="user_email" name="user_email" readonly>
            </div>

            <div class="subtitle">
                Change your password
            </div>
            <div class="account_setting_input_area">
                Current password:
                <input type="password" name="current_psw" id="in_current_psw" oninput="submit_enable()">
            </div>
            <div id="new_psw_input_area">
                <div class="account_setting_input_area">
                    New password:
                    <input type="password" id="new_psw" name="new_psw" oninput="submit_enable()">
                </div>
                <div class="account_setting_input_area">
                    Confirm new password:
                    <input type="password" id="re_new_psw" name="re_new_psw" oninput="submit_enable()">
                </div>
            </div>
            <input type="submit" id="account_setting_submit_button" value="Save Changes" disabled="disabled"/>
        </form>
    </div>
</section>

</body>
</html>
