<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/dashboard_layout :: layout (~{::title}, ~{}, ~{}, ~{::section})}">
<head>
    <title>Bulk upload</title>
</head>
<body>
<section>
    <div id="buck-upload">
        <form action="/edit/bulk_upload" method="post" id="buck_upload_form" enctype="multipart/form-data">
            Select your file:<br>
            <input type="file" name="buck_questions">
            <input type="submit" value="Upload">
        </form>
    </div>
</section>

</body>
</html>