<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="CSS/stylesheet.css">
    <link rel="stylesheet" href="../static/CSS/stylesheet.css" th:remove="all">
    <title>Admin Login</title>
</head>
<body>
    <div class="login_background">
        <div class="login_block">
            <div class="login_logo">
                <img src="../static/site_photos/RF0010-01_Rensselaer_Large_Logo-with_Tagline_RGB-Red.png" alt="RPI Logo" th:attr="src='site_photos/RF0010-01_Rensselaer_Large_Logo-with_Tagline_RGB-Red.png'">
            </div>
            <form action="/admin" method="post">
                <div class="login_inner_box">
                    <div class="login_input_area">
                        <input type="text" placeholder="Enter Username" name="uname" th:value="*{username}?: ''" required >
                    </div>
                    <div class="login_input_area">
                        <input type="password" placeholder="Enter Password" name="psw" required>
                    </div>
                    <div class="login_input_area" id="login_button">
                        <button type="submit">Login</button>
                    </div>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button href="#">Forget password</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>