<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/CSS/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/SearchResultsUtility.js"></script>
    <title>Search</title>
</head>
<body>
<div class="page">
    <div id="top_banner_placeholder" th:replace="fragments/header :: header"></div>
    <div class="main_content" style="margin: 0; padding: 0;">
        <div id="side_bar_placeholder" th:replace="fragments/side_bar :: side_bar"></div>
        <div class="content_area" id="content_area">
            <div class="content_slide" id="search_questions">
                <div id="search_bar_container">
                    <form action="/search/by_key_word" method="get" id="search_form">
                        <input id="search_bar" form="search_form" name="key_word"
                               placeholder="Enter key word here"/>
                    </form>
                    <p id="search_method" class="small_text">Search by
                        <button onclick="ChangeSearchMethod('by_key_word')">by key word</button>
                        <button onclick="ChangeSearchMethod('by_tags')">by categories</button>
                        <button onclick="ChangeSearchMethod('by_id')">by question ID</button>
                    </p>
                </div>
                <div id="result_stat hidden_content">
                    <p class="small_text hidden_content"> relevant questions found.</p>
                </div>
                <div id="search_results_container" class="" th:each="q : search_results">
                    <!--Search result template for each question-->
                    <div class="result_question_container" th:id="${q.getSerialCode()}">
                        <div class="result_titles categories">
                            Categories:
                            <span class="rq_tags_list" th:each="t : q.getTags()">
                                <a th:text="${t} + ' '"  th:href="@{/search/by_tags(key_word=${t})}">Greek myths</a>
                            </span>
                        </div>
                        <div class="text_content">
                            <p>
                                <span th:text="${q.getQuestionBody}">
                                    Who introduced the idea that dreams and myths were the projection of what he called the "collective unconscious" based on archetypal characters and narrative patterns.
                                    <!--*Carl Jung,* B. Malinowski, J. G. Frazer, Joseph Campbell-->
                                </span>
                            </p>
                        </div>
                        <div class="rq_choices_container hidden_content" th:each="c : q.getChoices()">
                            <p th:text="${c}">Carl Jung</p>
                            <p>B. Malinowski</p>
                            <p>J. G. Frazer</p>
                            <p>Joseph Campbell</p>
                        </div>
                        <div class="rq_answer hidden_content" th:text="q.getAnswer()">Carl Jung</div>
                        <div class="action_options">
                            <button class="action_buttons" onclick="add_to_list('q-code')">Add to my list +</button>
                            <button class="action_buttons" th:attr="onclick='MagnifyQuestion(' + ${q.getSerialCode() + ')'">Detail <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../static/MathJax-master/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</body>
</html>