<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/CSS/stylesheet.css">
    <script src="../static/js/SearchResultsUtility.js"></script>
    <title>Search</title>
</head>
<body>
<div class="page">
    <div id="top_banner_placeholder" th:replace="fragments/header :: header"></div>
    <div class="main_content" style="margin: 0; padding: 0;">
        <div id="side_bar_placeholder" th:replace="fragments/side_bar :: side_bar"></div>
        <div class="content_area" id="content_area">
            <div class="content_slide" id="search_questions">
                <div id="search_bar_container">
                    <form action="/search/by_key_word" method="get" id="search_form">
                        <input id="search_bar" form="search_form" name="key_word"
                               placeholder="Enter key word here"/>
                    </form>
                    <p class="small_text">Search by
                        <button onclick="ChangeSearchMethod('by_key_word')">by key word</button>
                        <button onclick="ChangeSearchMethod('by_tags')">by categories</button>
                        <button onclick="ChangeSearchMethod('by_id')">by question ID</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>